.headline {
    text-align: center;
}

.logos {
    width: 100%;
    max-width: fit-content;
    object-fit: cover;
    display: flex;
    justify-content: center;
    /*justify-content: space-between*/
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

img {
    min-height: 70px;
}
  
.img:hover {
   transform: scale(1.1);
}


